* {
    font-family:'Open Sans';
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: #FBFFF1;
}



nav {
    display:flex;
    justify-content: space-around;
    width: 100%;
}
nav h1{
   display: flex;
   align-items: center;
}
ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}

#wcsLogo{
    width: 10%;
}


.slider__nav{
display : flex;
    
}